/* body,
html {
  height: 100%;
  display: grid;
  place-content: center ;
  margin: auto;
} */
* {
 margin: 50px auto;
}
.title {
  background: linear-gradient(90deg, rgb(132, 132, 233), rgb(96, 96, 233));
  padding: 30px;
  border-radius: 10px;
  box-shadow: 3px 0px 50px #adadad;
  font-family: sans-serif;
  color: #fff;
  text-align: center;
}
